@font-face {
  font-family: NittyNormal;
  src: url('../assets/fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  src: url('../assets/fonts/NB.woff') format('woff');
}

::-webkit-scrollbar { 
    display: none; 
  }

* {
  box-sizing: border-box;
}

component(app){
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: NittyNormal;
  height: 100vh;
}

button {
  border: none;
  font-size: var(--baseUnit);
  padding: 0;
  background-color: var(--darkBaseColor);
  width: calc(2 * var(--baseUnit));
  height: calc(2 * var(--baseUnit));
}

h1 {
  padding: calc(0.5 * var(--baseUnit));
  font-size: calc(1 *var(--baseUnit));
  background-color: var(--baseColor);
  color: var(--inverseColor);
  margin: 0;
  text-align: center;
}
