@font-face {
  font-family: NittyNormal;
  src: url('../assets/fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  src: url('../assets/fonts/NB.woff') format('woff');
}

::-webkit-scrollbar {
    display: none;
  }

* {
  box-sizing: border-box;
}

html {
  font-size: 22px;
  line-height: calc(30/22)rem;
}

@media (max-width: 2000px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
}

component(app){
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: NittyNormal;
  height: 100vh;
  background-color: var(--yellow);
}


button {
  border: none;
  font-size: 1rem;
  background-color: var(--darkBaseColor);
  width: 2rem;
  height: 2rem;
}

h1 {
  display: inline-block;
  padding: 0 0.75rem;
  font-size: 3rem;
  background-color: var(--baseColor);
  color: var(--inverseColor);
  margin: 0;
}
