component(pads) {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: calc(14 * var(--baseUnit));
  max-width: calc(14 * var(--baseUnit));
}

component(pad){ background: var(--baseColor);
  color: var(--inverseColor);
  min-width: calc(3 * var(--baseUnit));
  min-width: calc(3 * var(--baseUnit));
  height: calc(3 * var(--baseUnit));
}
