component(sidebar) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--inverseColor);
  width: 3rem;
  height: 100%;
  padding: 1rem;
  background-color: var(--darkBaseColor);
  justify-content: space-between; 
  align-items: center;
}

.sidebar.closed {
  height: 4rem;
  background-color: var(--yellow);
  button {
    border: none;
    color: var(--yellow);
    background-color: var(--yellow);
  }
}

component(controlPanel) {
  height: 10rem;
  font-style: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.controlPanel.closed {
  display: none;
}
