component(sidebar) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--inverseColor);
  width: calc(13 * var(--baseUnit));
  height: 100%;
  padding: var(--baseUnit); 
  background-color: var(--darkBaseColor);
  justify-content: flex-end;
  align-items: center;
}

component(controlPanel) {
  width: 100%;
  font-style: bold;
  display: flex;
  justify-content: space-between;
}
