component(slideContent){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0;

  ul {
    padding: 0;
    margin: 0;
  } 

  li {
    margin: 0; 
    padding: 0;
    list-style: none;
  }

  li p {
    width: auto;
    font-style: normal;
    margin: 0;
    margin-bottom: var(--baseUnit);
    font-size:  calc(2 * var(--baseUnit));
    padding: calc(0.5 * var(--baseUnit));
    background-color: var(--inverseColor); 
    color: var(--baseColor);
  }
}
