component(slide){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 3rem;

  img {
    width: 100%;
    height: 100%;
  }

  .label {
    display: block;
  }
  .label h1 {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 0.75rem;
    margin-bottom: 2rem;
  }

  header, footer {
    flex: 1;
    display: flex;
  }
}

.slide.titleSlide {
  justify-content: center;
}
